<div class="jumbotron">
	<h1>Account</h1>
</div>
<ul class="nav nav-pills" role="tablist">
	<li role="presentation" ng-class="{ active: contentCtrl.isCurrentPage('profile') }">
		<a href="#profile">My Profile</a>
	</li>
	<li role="presentation" ng-class="{ active: contentCtrl.isCurrentPage('account') }">
		<a href="#account">My Account</a>
	</li>
</ul>
<div class="page-header">
	<h1 ng-show="contentCtrl.isCurrentPage('profile')">My Profile <small>What others see of me</small></h1>
	<h1 ng-show="contentCtrl.isCurrentPage('account')">My Account <small>Account settings</small></h1>
</div>