<market-header></market-header>
<div class="alert alert-danger" ng-show="itemsCtrl.errorMessage">
	<a href="javascript:void(0)" class="close" ng-click="itemsCtrl.errorMessage = ''" aria-label="close">&times;</a>
	<strong>Error!</strong> {{itemsCtrl.errorMessage}}
</div>
<div class="alert alert-success" ng-show="itemsCtrl.successMessage">
	<a href="javascript:void(0)" class="close" ng-click="itemsCtrl.successMessage = ''" aria-label="close">&times;</a>
	<strong>Success!</strong> {{itemsCtrl.successMessage}}
</div>
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="input-group">
			<input ng-model="itemsCtrl.search" type="text" class="form-control" placeholder="Search items..." ng-change="itemsCtrl.doSearch()">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="itemsCtrl.doSearch()">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</span>
		</div>
	</div>
</div>
<loading-icon ng-hide="itemsCtrl.loaded"></loading-icon>
<br>
<div class="row">
	<div class="col-sm-4" ng-repeat="item in itemsCtrl.getItems()">
		<div class="thumbnail" style="word-wrap:break-word;">
			<img ng-src="{{item.image}}" alt="{{item.name}}">
			<div class="caption">
				<h3>
					{{item.name}}<br><small>by {{item.owner}}</small>
				</h3>
				<p>{{item.description}}</p>
				<p>
					<button type="button" class="btn btn-default" ng-class="{ 'btn-success' : itemsCtrl.enoughFunds(item.price), 'btn-danger disabled' : !itemsCtrl.enoughFunds(item.price) }" ng-disabled="{{!itemsCtrl.enoughFunds(item.price)}}" ng-click="itemsCtrl.showBuyModal(item)">Purchase for {{itemsCtrl.getTotal(item.price) | currency}}</button>
				</p>
			</div>
		</div>
	</div>
	<div id="itemBuyModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Confirm Purchase</h4>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to purchase <strong>{{itemsCtrl.viewingItem.name}}</strong> for <strong>{{itemsCtrl.getTotalWithQuantity(itemsCtrl.viewingItem.price) | currency}}</strong>?</p>
					<p>After this purchase, you will have <strong>{{itemsCtrl.getBalanceAfter(itemsCtrl.getTotalWithQuantity(itemsCtrl.viewingItem.price)) | currency}}</strong> in your account.</p>
					<div class="input-group">
						<span class="input-group-addon">Quantity</span>
						<input type="number" class="form-control" placeholder="Quantity" ng-model="itemsCtrl.quantity" min="1" max="{{itemsCtrl.viewingItem.quantity}}">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-success" data-dismiss="modal" ng-click="itemsCtrl.buy(itemsCtrl.viewingItem._id)">Pay {{itemsCtrl.getTotalWithQuantity(itemsCtrl.viewingItem.price) | currency}}</button>
				</div>
			</div>
		</div>
	</div>
</div>