<div class="jumbotron jumbotron-yellow">
	<h1>Market</h1>
</div>
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" ng-class="{ active: contentCtrl.isCurrentPage('buy') }">
		<a href="#buy">Buy Items</a>
	</li>
	<li role="presentation" ng-class="{ active: contentCtrl.isCurrentPage('items') }">
		<a href="#items">My Items</a>
	</li>
	<li role="presentation" ng-class="{ active: contentCtrl.isCurrentPage('receipts') }">
		<a href="#receipts">Receipts</a>
	</li>
</ul>
<div class="page-header">
	<h1 ng-show="contentCtrl.isCurrentPage('buy')">Buy Items</h1>
	<h1 ng-show="contentCtrl.isCurrentPage('items')">My Items</h1>
	<h1 ng-show="contentCtrl.isCurrentPage('receipts')">Receipts</h1>
</div>