<div class="jumbotron">
	<h1>Minecraft Market</h1>
</div>
<div class="page-header">
	<h1>Welcome <small>welcome to the market</small></h1>
</div>
<div class="content">
	<div class="panel panel-default">
		<div class="panel-body">
			Welcome to the Minecraft Market, an online market for mananging in-game money in a Minecraft server. In the market, you can sell or buy Minecraft goods and services using the in-game currency.
			<br><br>
			The possiblities are almost endless! In addition to being able to sell items, you can also sell services or businesses. You can even set up scheduled transactions to manage salaries of people working for you!
			<br><br>
			Using the system is simple. Each user has a Username and a Bank ID. The Username (example: Notch) can be changed and should ideally match the the associated Minecraft account name. The Bank ID (example: #user00) is a six-character permanent identifier of the account and will never change, that way if a user changes their username, you can still be certain who it is.
		</div>
	</div>
</div>