<div class="jumbotron jumbotron-green">
	<h1>Money</h1>
</div>
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" ng-class="{ active: contentCtrl.isCurrentPage('balance') }">
		<a href="#balance">Balance</a>
	</li>
	<li role="presentation" ng-class="{ active: contentCtrl.isCurrentPage('transactions') }">
		<a href="#transactions">Transactions</a>
	</li>
	<li role="presentation" ng-class="{ active: contentCtrl.isCurrentPage('send') }">
		<a href="#send">Send Money</a>
	</li>
</ul>
<div class="page-header">
	<h1 ng-show="contentCtrl.isCurrentPage('balance')">Balance</h1>
	<h1 ng-show="contentCtrl.isCurrentPage('transactions')">Transactions</h1>
	<h1 ng-show="contentCtrl.isCurrentPage('send')">Send Money</h1>
</div>