<account-header></account-header>
<div class="alert alert-danger" ng-show="accountCtrl.errorMessage">
	<a href="javascript:void(0)" class="close" ng-click="accountCtrl.errorMessage = ''" aria-label="close">&times;</a>
	<strong>Error!</strong> {{accountCtrl.errorMessage}}
</div>
<div class="alert alert-success" ng-show="accountCtrl.successMessage">
	<a href="javascript:void(0)" class="close" ng-click="accountCtrl.successMessage = ''" aria-label="close">&times;</a>
	<strong>Success!</strong> {{accountCtrl.successMessage}}
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		Profile
	</div>
	<div class="panel-body">
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">Change Tagline</span>
			<input type="text" class="form-control" placeholder="{{contentCtrl.globalValues.tagline}}" aria-describedby="basic-addon1" ng-keypress="accountCtrl.checkTagline($event)" ng-model="accountCtrl.tagline" maxlength="32">
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		Sign In Settings
	</div>
	<div class="panel-body">
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">Change Username</span>
			<input type="text" class="form-control" placeholder="{{contentCtrl.globalValues.username}}" aria-describedby="basic-addon1" ng-keypress="accountCtrl.checkUsername($event)" ng-model="accountCtrl.username" maxlength="16">
		</div>
		<br>
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">Change Password</span>
			<input type="password" class="form-control" placeholder="New Password" aria-describedby="basic-addon1" ng-keypress="accountCtrl.checkPassword($event)" ng-model="accountCtrl.password">
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		Money Acceptance
	</div>
	<div class="panel-body">
		<div class="input-group">
			<input type="checkbox" ng-model="accountCtrl.enableWhitelist">
			Only accept money from specified users
		</div>
	</div>
	<div class="panel-body" ng-show="accountCtrl.enableWhitelist">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="user in accountCtrl.whitelistedUsers">
				#{{user}}
				<button type="button" class="close" ng-click="accountCtrl.removeFromWhitelist(user)">&times;</button>
			</li>
			<li class="list-group-item">
				<div class="input-group">
					<span clas="input-group-addon" id="basic-addon1">Add allowed Bank ID</span>
					<input type="text" class="form-control" placeholder="#BankID" aria-describedby="basic-addon1" ng-keypress="accountCtrl.checkWhitelistAdd($event)" ng-model="accountCtrl.whitelistAdd" maxlength="16">
				</div>
			</li>
		</ul>
	</div>
	<div class="panel-footer">
		<button type="button" class="btn btn-success" ng-click="accountCtrl.updateMoneyAcceptance()">Update Settings</button>
		<button type="button" class="btn btn-default" ng-click="accountCtrl.revertMoneyAcceptanceChanges()">Revert Changes</button>
	</div>
</div>
<div class="panel panel-danger">
	<div class="panel-heading">
		Danger Zone
	</div>
	<div class="panel-body">
		<div class="input-group">
			<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAccountModal"><span class="glyphicon glyphicon-trash"></span> Delete Account</button>
		</div>
	</div>
	<div id="deleteAccountModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Confirm Delete</h4>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete your account? All your items will be deleted and your money will be transferred to the tax recipient. This cannot be undone.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="accountCtrl.deleteAccount()"><span class="glyphicon glyphicon-remove"></span> Delete this Account</button>
				</div>
			</div>
		</div>
	</div>
</div>