<money-header></money-header>
<div class="content">
	<div class="alert alert-danger" ng-show="sendMoneyCtrl.errorMessage">
		<a href="javascript:void(0)" class="close" ng-click="sendMoneyCtrl.errorMessage = ''" aria-label="close">&times;</a>
		<strong>Error!</strong> {{sendMoneyCtrl.errorMessage}}
	</div>
	<div class="alert alert-success" ng-show="sendMoneyCtrl.successMessage">
		<a href="javascript:void(0)" class="close" ng-click="sendMoneyCtrl.successMessage = ''" aria-label="close">&times;</a>
		<strong>Success!</strong> {{sendMoneyCtrl.successMessage}}
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Recipient</span>
				<input type="text" class="form-control" placeholder="Username or #Bank ID" aria-describedby="basic-addon1" ng-model="sendMoneyCtrl.recipient" autofocus>
			</div>
			<br>
			<div class="input-group">
				<span class="input-group-addon">$</span>
				<input type="number" class="form-control" min="0" max="{{contentCtrl.globalValues.balance}}" placeholder="Amount" ng-model="sendMoneyCtrl.amount">
			</div>
			<br>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Memo</span>
				<input type="text" class="form-control" placeholder="Reason" aria-describedby="basic-addon1" ng-model="sendMoneyCtrl.memo" maxlength="32">
			</div>
		</div>
		<div class="panel-footer">
			<button type="button" class="btn btn-success" data-toggle="modal" data-target="#sendMoney" ng-class="{ disabled:!sendMoneyCtrl.validFields() }" ng-disabled="!sendMoneyCtrl.validFields()">Send Money</button>
		</div>
	</div>
	<div id="sendMoney" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Confirm Payment</h4>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to pay <strong>{{sendMoneyCtrl.getTotal() | currency}}</strong>?</p>
					<p>{{sendMoneyCtrl.recipient}} will recieve <strong>{{sendMoneyCtrl.amount | currency}}</strong> and the Market will recieve a <strong>{{sendMoneyCtrl.getTax() | currency}} ({{contentCtrl.globalValues.taxRate * 100 + '%'}})</strong> tax.</p>				
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-success" data-dismiss="modal" ng-click="sendMoneyCtrl.sendMoney()">Pay {{sendMoneyCtrl.getTotal() | currency}}</button>
				</div>
			</div>
		</div>
	</div>
</div>