<money-header></money-header>
<div class="content">
	<div class="alert alert-danger" ng-show="sendMoneyCtrl.errorMessage">
		<a href="javascript:void(0)" class="close" ng-click="sendMoneyCtrl.errorMessage = ''" aria-label="close">&times;</a>
		<strong>Error!</strong> {{sendMoneyCtrl.errorMessage}}
	</div>
	<div class="alert alert-success" ng-show="sendMoneyCtrl.successMessage">
		<a href="javascript:void(0)" class="close" ng-click="sendMoneyCtrl.successMessage = ''" aria-label="close">&times;</a>
		<strong>Success!</strong> {{sendMoneyCtrl.successMessage}}
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<select id="recipient" placeholder="Recipient" ng-model="sendMoneyCtrl.recipient" autofocus></select>
			<script type="text/javascript">
				$('#recipient').selectize({
					create: false,
					sortField: 'text',
					valueField: 'username',
					labelField: 'username',
					searchField: ['username', 'searchBankid'],
					render: {
						item: function(item, escape) {
							var nameElement = $('<div></div>').append($('<span class="username-select"></span>').text(item.username)).append($('<span class="bankid"></span>').text(' (' + item.searchBankid + ') '));
							if (item.trusted)
								nameElement.append('<span class="glyphicon glyphicon-ok-sign" title="Trusted User"></span>');
							if (item.richest)
								nameElement.append('<span class="glyphicon glyphicon-tower" title="Richest User"></span>');
							return nameElement;
						},
						option: function(item, escape) {
							var usernameElement = $('<div></div>').append($('<span class="username-select"></span>').text(item.username + ' '));
							if (item.trusted)
								usernameElement.append('<span class="glyphicon glyphicon-ok-sign" title="Trusted User"></span>');
							if (item.richest)
								usernameElement.append('<span class="glyphicon glyphicon-tower" title="Richest User"></span>');
							return usernameElement.append('<br>').append($('<span class="bankid"></span>').text(item.bankid));
						}
					},
					load: function(query, callback) {
						if (query.charAt(0) === '#')
							query = query.substring(1);
						$.ajax({url: '/api/users?accepting=true&search=' + query, type: 'GET', error: callback, success: function(users) {
							for (var i in users) {
								users[i].searchBankid = '#' + users[i].bankid;
							}
							callback(users);
						}});
					},
					preload: true
				});
			</script>
			<br>
			<div class="input-group">
				<span class="input-group-addon">$</span>
				<input type="number" class="form-control" min="0" placeholder="Amount" ng-model="sendMoneyCtrl.amount">
			</div>
			<br>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Memo</span>
				<input type="text" class="form-control" placeholder="Reason" aria-describedby="basic-addon1" ng-model="sendMoneyCtrl.memo" maxlength="32">
			</div>
		</div>
		<div class="panel-footer">
			<button type="button" class="btn btn-success" data-toggle="modal" data-target="#sendMoney" ng-class="{ disabled:!sendMoneyCtrl.validFields() }" ng-disabled="!sendMoneyCtrl.validFields()">Send Money</button>
		</div>
	</div>
	<div id="sendMoney" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Confirm Payment</h4>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to pay <strong>{{sendMoneyCtrl.getTotal() | currency}}</strong>?</p>
					<p>{{sendMoneyCtrl.recipient}} will recieve <strong>{{sendMoneyCtrl.amount | currency}}</strong> and the Market will recieve a <strong>{{sendMoneyCtrl.getTax() | currency}} ({{contentCtrl.globalValues.taxRate * 100 + '%'}})</strong> tax.</p>				
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-success" data-dismiss="modal" ng-click="sendMoneyCtrl.sendMoney()">Pay {{sendMoneyCtrl.getTotal() | currency}}</button>
				</div>
			</div>
		</div>
	</div>
</div>