<signin-header></signin-header>
<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<form action="/signin" method="post">
					<div class="form-group">
						<label for="username">Username:</label>
						<input type="text" class="form-control" name="username" id="username" autofocus>
					</div>
					<div class="form-group">
						<label for="password">Password:</label>
						<input type="password" class="form-control" name="password" id="password">
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-default">Sign In</button>
					</div>
				</form>
			</div>
			<div class="col-sm-4"></div>
		</div>
	</div>
</div>