<money-header></money-header>
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="input-group">
			<input ng-model="transactionsCtrl.search" type="text" class="form-control" placeholder="Search transactions..." ng-change="transactionsCtrl.doSearch()">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="transactionsCtrl.doSearch()">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</span>
		</div>
	</div>
</div>
<loading-icon ng-hide="transactionsCtrl.loaded"></loading-icon>
<div class="container">
	<br>
	<nav aria-label="...">
		<ul class="pager" ng-show="(transactionsCtrl.pageNumber > 0) || ((transactionsCtrl.pageNumber + 1) * transactionsCtrl.numberPerPage < transactionsCtrl.count)">
		  <li ng-click="transactionsCtrl.previousPage()" ng-class="transactionsCtrl.pageNumber > 0 ? '' : 'disabled'"><a href="javascript:void(0)">Newer</a></li>
			<li ng-click="transactionsCtrl.nextPage()" ng-class="(transactionsCtrl.pageNumber + 1) * transactionsCtrl.numberPerPage < transactionsCtrl.count ? '' : 'disabled'"><a href="javascript:void(0)">Older</a></li>
		</ul>
	</nav>
	<div ng-show="transactionsCtrl.getTransactions().length">
		<table class="table table-hover">
			<thead>
				<th></th>
				<th>Amount</th>
				<th>Other User</th>
				<th>Memo</th>
				<th>Timestamp</th>
			</thead>
			<tbody>
				<tr ng-repeat="transaction in transactionsCtrl.getTransactions()">
					<td>
							<span class="glyphicon glyphicon-chevron-up" aria-hidden="true" ng-if="transactionsCtrl.isIncoming(transaction)" title="Incoming"></span>
							<span class="glyphicon glyphicon-chevron-down" aria-hidden="true" ng-if="transactionsCtrl.isOutgoing(transaction)" title="Outgoing"></span>
					</td>
					<td ng-class="transactionsCtrl.isIncoming(transaction) ? 'gain-money' : 'lose-money'">{{transactionsCtrl.isIncoming(transaction) ? '+' : '-'}}{{transaction.amount | currency}}</td>
					<td>
					  <span ng-if="transactionsCtrl.isIncoming(transaction)">
					    {{transaction.from.username}} <span class="bankid">(#{{transaction.from.bankid}})</span>
					  </span>
					  <span ng-if="transactionsCtrl.isOutgoing(transaction)">
					    {{transaction.to.username}} <span class="bankid">(#{{transaction.to.bankid}})</span>
					  </span>
					</td>
					<td>{{transaction.memo}} <span class="glyphicon glyphicon-asterisk" ng-show="transaction.generated" title="Generated Payment"></span></td>
					<td>{{transaction.date}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
