.jumbotron-blue {
	background-color: #e3f2fd;
}
.jumbotron-green {
	background-color: #e8f5e9;
}
.jumbotron-yellow {
	background-color: #fffde7;
}

.username-select {
  color: black;
}
.bankid {
  color: #aaaaaa;
}

.gain-money {
  font-weight: 600;
  color: limegreen;
}
.lose-money {
  font-weight: 600;
  color: red;
}
